/* styles/custom.css */
.richText h1 {
  @apply text-2xl font-bold mb-4;
}
.richText h2 {
  @apply text-3xl font-bold mb-3;
}

.richText h4 {
  @apply text-xl font-bold;
}

.richText p {
  @apply mb-4;
}
.richText ul {
  @apply list-disc pl-5 mb-4;
}
.richText ol {
  @apply list-decimal pl-5 mb-4;
}
.richText li {
  @apply mb-2;
}
.richText a {
  @apply text-blue-500 underline;
}
.richText img {
  @apply mb-4;
}

.richText blockquote {
  @apply pl-4 border-l-4 border-gray-300 italic text-gray-600 mb-6;
}

.richText code {
  background-color: #000000;
  color: #00ff00;
  font-family: "Fira Code", monospace;
  font-size: 0.95em;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  margin: 0;
  white-space: pre-wrap;
}
