@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

article p {
  padding-bottom: 1.5rem;
  line-height: 2;
}

::selection {
  background-color: #f2ff49;
}

.headerLink {
  @apply font-bold text-lg hover:text-customBlue;
}

.sidebarLink {
  @apply font-bold text-2xl cursor-pointer rounded-md p-3 hover:bg-gray-100;
}

/* hover font color #5494D4 */
